<html>
  <head>
    <link data-require="bootstrap@4.0.5" data-semver="4.0.5" rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" >
    <script data-require="bootstrap@4.0.5" data-semver="4.0.5" src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.5/js/bootstrap.min.js"></script>
    <script data-require="angularjs@1.5.7" data-semver="1.5.7" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.7/angular.min.js"></script>
    <script src="fakeApp.js" charset="UTF-8"></script>
  </head>

  <body ng-app="fakeApplication" ng-controller="fakeAppController"
    style="margin:0px 0px 0px 0px;width:100%;height:100%;
  	background-image:url('./img/bg2.png');
  	background-position:center center">

    <center>
      <image src="./img/logining.gif" width="100%">
        <h2><font color="white">사용자 로그인 중...</font></h2>
    </center>

    <script>
      let getID ='<%= id%>';

      let checkLogin = () => {
        if (allQueryData.length == 0) {
          setTimeout(checkLogin,1);
        } else {
            console.log("input id : "+getID);
            let flag = false;
            allQueryData.forEach( (element) => {
              if (element.key == getID){
                flag = true;
              }
            });

            if (flag) {location.href="/mainPage";}
            else {alert("로그인 실패... ID"); location.href="/";}
        }
      }

      setTimeout(checkLogin(),300);

    </script>
  </body>
</html>
