<!DOCTYPE html5>
<html>
  <head>
    <link data-require="bootstrap@4.0.5" data-semver="4.0.5" rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" >
    <script data-require="bootstrap@4.0.5" data-semver="4.0.5" src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.5/js/bootstrap.min.js"></script>
    <script data-require="angularjs@1.5.7" data-semver="1.5.7" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.7/angular.min.js"></script>
    <title>Hyper Shield : 블록체인 기반의 출입 관리 시스템</title>
    <script src="fakeApp.js" charset="UTF-8"></script>
    <script> //if(!sessionStorage.getItem('uID')) location.href="/"; </script>
		<script> let userData = {key:2013122041, name:"김영찬", timestamp:Date.now()} </script>
  </head>

  <body style="margin:0px 0px 0px 0px; height:100%" ng-app="fakeApplication" ng-controller="fakeAppController">
    <table width="100%" style="height:100%; margin:0px 0px 0px 0px; border-collapse:collapse;">
      <tr width="100%" height="20%">
        <td bgcolor="#2E1257" style= "width:30%;min-width:180px border-collapse:collapse;" align="center" rowspan="3">

          <table width="100%" height="100%">
            <tr height="30%"><td align="center">
                <table width="90%">
                  <tr>
                    <td width="30%"><img src="./img/icon/default.png" width="100%" style="min-width:100px" id="uImage"></td>
                    <td width="5%"></td>
                    <td width="75%">
                      <font size="4"><div id='username'></div></font><font size="1"><br></font>
                      &nbsp;&nbsp;<font color="white">등급 : 관리자 </font><font size="1"><br><br><br></font>
                      <div align = "right"><button class="btn btn-primary" id="logout">로그아웃</button></div>
                      <script>
                        let userName = document.getElementById('username');
                        userName.innerHTML = "<font color='yellow' size='5'>"+userData.name
                          +"</font><font color='white'>님, 반갑습니다!</font>";
                        let userImage = document.getElementById('uImage');
                        userImage.src = "./img/icon/" + userData.key + ".png";
                        let logoutBtn = document.getElementById('logout');
                        logoutBtn.onclick = () => {
                          sessionStorage.removeItem('uID');
                          sessionStorage.removeItem('uNAME');
                          location.href="/";
                        };
                      </script>
                    </td>
                  </tr>
                </table>

            </td></tr>
            <tr height="50%"><td valign = "top" align="center">
                <font color="white">
                  <div style="width:90%">
                    <h2>&nbsp;최근 출입 기록</h2>
                    <hr style="border: solid 1px white;" width="90%">
                  </div>
                  <table width="90%" style="color:#BAB8DB">
                    <tr align="center">
                      <td><font size="4" color="white" width="60%" height="35px"><b>출입 시간</b></font></td>
                      <td><font size="4" color="white" width="20%" height="35px"><b>디바이스</b></font></td>
                      <td><font size="4" color="white" width="20%" height="35px"><b>입장/퇴장</b></font></td>
                    </tr>
                    <tr ng-repeat="temp in queryHistoryTop10()" align="center">
                      <td height="35px">{{temp.timestamp}}</td>
                      <td height="35px">{{temp.location}}</td>
                      <td height="35px"><span ng-show="temp.state == 'in'">&nbsp;<font color="#A4FFA3">입장</font></span><span ng-show="temp.state == 'out'">&nbsp;<font color="#FF7D6F">퇴장</font></span></td>
                    </tr>
                  </table>
                </font>
            </td></tr>
            <tr height="20%"><td align="center" valign="bottom">
                <font color="gray">
                  2019 한국 항공대학교 한정희 교수님 종합설계<br>
                  <font size="2">임베디드 시스템 기반의 하이퍼레져를 이용한 출입 관제 시스템<br></font><br>
                  <font color="white" size="4">정지원 이승준 김영찬 안종화</font><br>
                  <font color="yellow">HYPER SHILED 1.0.0 ver</font>
                </font>
                <br><br>
            </td></tr>

          </table>
        </td>

        <td height="20%" style="margin:0px 0px 0px 0px;padding:0px 50px 30px 50px;
              border-collapse:collapse;
              background-image:url('./img/bg3.png');
              background-position:center center;
              background-size: 100%" align="left" valign="bottom">
                <b><font color="white" size="7"><div id ="titleName">
                  월별 출입량
                </div></font></b>
        </td>
      </tr>
      <tr height="4%" bgcolor="#272822">
        <td>
          <table width="100%" style="color:white;">
            <tr>
              <td width="20%" align="center"><div class="menu" id="menu0">메인 페이지</div></td>
              <td width="20%" align="center"><div class="menu" id="menu1">일별 출입량</div></td>
              <td width="20%" align="center"><div class="menu" id="menu2">월별 출입량</div></td>
              <td width="20%" align="center"><div class="menu" id="menu3">개인 페이지</div></td>
              <td width="20%" align="center"><div class="menu" id="menu4">사용자 관리</div></td>
              <script>
                let menu0 = document.getElementById('menu0');
                let menu1 = document.getElementById('menu1');
                let menu2 = document.getElementById('menu2');
                let menu3 = document.getElementById('menu3');
                let menu4 = document.getElementById('menu4');

                menu0.onclick = () => {location.href="/mainPage";};
                menu1.onclick = () => {location.href="/dailyLog";};
                menu2.onclick = () => {location.href="/monthlyLog";};
                menu3.onclick = () => {location.href="/personalPage";};
                menu4.onclick = () => {location.href="/userManage";};

              </script>
            </tr>
          </table>
        </td>
      </tr>

      <tr>
        <td align="center" height="76%">
          <!-- ############################# 본문 내용 시작 #############################-->
          <div style="margin:10px 10px 10px 10px;background-color:#DADEFF;width:95%;height:95%;">
          <table style="margin:0px;padding:0px;width:100%;height:100%;" >
          <tr>
            <td style="height:24%" align="center" valign="middle">
              <div id="titleText" style="font-size:35px;font-weight:bold;margin:15px;border-bottom:3px solid #99A7BF;border-top:3px solid #99A7BF;padding:5px;width:600;">
                {{selectDate.value | date:'yyyy'}}년 {{selectDate.value | date:'MM'}}월 월간 출입량 조사
              </div>
              <script>
                let titleText = document.getElementById('titleText')
                let currentTime = new Date()
                titleText.innerHTML = currentTime.getFullYear() + '년' + (currentTime.getMonth()+1) + '월 월간 출입량 조사'
              </script>

              <div style="width:350px;background-color:#2E1257; height:45px;border-radius:50px;margin:5px;">
                <div class="innerDiv" style="text-align:center;position:relative;top:50%;transform:translateY(-50%);padding:20px;">
                  <img src="./img/searchBtn.png" width="25px" height="25px" id ="serach" style="cursor:pointer;" ng-click="queryDailyHistory(selectDate.value)">
                  <script>
                    document.getElementById('serach').onclick = () => {
                      let str = document.getElementById('userSelectDate').value.split('-')
                      titleText.innerHTML = str[0] + '년' + str[1] + '월 월간 출입량 조사'
                    }
                  </script>
                  <font style="color:white;font-size:16px;" >날짜 검색</font>
                  <input type="date" id="userSelectDate" ng-model="selectDate.value" placeholder="yyyy-MM"
                         style="margin:10px;border:none;outline:none;text-align:center;
                         text-align:center;width:170px;border-radius:25px;" >
                </div>
              </div>
            </td>
          </tr>
          <tr height="38%">
            <td>

              <!-- =================================================================================

                  Gate A : Monthly Log Div

              ================================================================================== -->
              <div id="monthlyLogA"
              style="width:100%;height:100%;overflow:hidden">
              </div>

              <script>
                google.charts.load('current', { packages: ['corechart', 'bar'] });
                google.charts.setOnLoadCallback(init);

                function init() {
            			var options = {
            				title: '',			// chart의 제목
            				chartArea: { width: '100%' },		// chart가 표시되는 크기
            				bar: { groupWidth: '70%' },		// chart 내부의 bar 너비
            				animation: {					// animation 효과
                         duration: 1000,
               					easing: 'out',
            				},
                    legend : 'none',
            				vAxis: { title: '', minValue: 0, maxValue: 30 },	// y축 옵션
            				//hAxis: { title: '요일', minValue: 0 },					// x축 옵션

            				// 이 옵션을 제거하면 hover할 경우에 tooltip 생성됨
            				// 클릭되었을 때만 tooltip이 생성되도록 하는 옵션
            				tooltip: { trigger: 'selection' },
                    series: {
                      0: { color: '#3aaf1b' }
                    }
            			};

                  var data = new google.visualization.DataTable();
            			data.addColumn('string', 'N');			// column을 추가(data type이 string, 이름이 N)
            			data.addColumn('number', '입장');	// column을 추가(data type이 number, 이름이 Value)
                  data.addColumn({ type: 'number', role: 'annotation' });


                  var chart = new google.visualization.ColumnChart(document.getElementById('monthlyLogA'));
                  function drawChart() {
            				// Disabling the button while the chart is drawing.
            				google.visualization.events.addListener(chart, 'ready',
            					function () {
            					});
            				chart.draw(data, options);
            			}


                  let cur = new Date().getMonth() + 1
                  let maxs = [0,31,28,31,30,31,30,31,31,30,31,30,31]

                  for(let i = 1; i <= maxs[cur];i++) {
                    data.addRow( [ cur+'/'+i , 0,0])
                  }
                  drawChart();

                  setTimeout(function() {

                    var visit = monthlyLogA
                    for (var i = 0; i < data.getNumberOfRows(); i++) {
                      data.setValue(i,1,visit[i][1]);
                      data.setValue(i,2,visit[i][1]);
                    }
                    drawChart();
                  },2);

                }
              </script>



            </td>
          </tr>
          <tr height="38%">
            <td>
              <div id="monthlyLogB"
              style="background-color:red;
                     width:100%;height:100%;overflow:hidden">
              </div>
            </td>
          </tr>
          </table>
          </div>
          <!-- ############################# 본문 내용 종료 #############################-->
        </td>
      </tr>
    </table>
  </body>
</html>
